.idea/
.vscode/
.wasm_out/
.wrangler
.dev.vars*

dys-protocol/generated/
dys-svc-*/generated/
dys-*/bindings/

infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.tfstate.lock.info
infra/terraform.tfvars

target/

**/generated

**/game_log.bin
**/world_state.bin

**/.env.local

# Frontend Custom
# We copy wasm artifacts at build time - don't check these in
frontend/public/matchvisualizer*
frontend/src/assets/matchvisualizer*

# Frontend Vue defaults
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local

frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

frontend/*.tsbuildinfo
frontend/vite.config.ts.timestamp*

frontend/generated
